<!--
// v0 by Vercel.
// https://v0.dev/t/E33EWNfUfMC
-->

<style>h1, h2, h3, h4, h5, h6 { font-family: 'Chivo', sans-serif; --font-sans: 'Chivo'; }
</style>
<style>body { font-family: 'Rubik', sans-serif; --font-sans: 'Rubik'; }
</style>
<div class="min-h-screen flex items-center justify-center px-4 ">

  <form [formGroup]="registerForm" (ngSubmit)="handleFormSubmit()" class="flex flex-col gap-6 w-full max-w-sm p-6 rounded-lg border bg-white dark:bg-gray-900 mx-auto">
    <div class="space-y-2">
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-black dark:text-white"
        for="email"
      >
        Email
      </label>
      <input
        class="flex h-10 w-full rounded-md border border-input px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2  focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 bg-white dark:bg-black"
        [ngClass]="{'focus-visible:ring-[#FF5252] ':email?.invalid && (email?.dirty || email?.touched), 'border-[#FF5252]':email?.invalid && (email?.dirty || email?.touched)}"
        id="email"
        placeholder="m@example.com"
        type="email"
        
        formControlName="email"

      >
      <p *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-[#FF5252] text-sm  mt-[.5rem] font-normal">email is invalid</p>
    </div>
    <div class="space-y-2">
      <label
        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-black dark:text-white"
        for="password"
      >
        Password
      </label>
      <input
        class="flex h-10 w-full rounded-md border border-input px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 bg-white dark:bg-black"
        id="password"
        type="password"
        formControlName="password"
        [ngClass]="{'focus-visible:ring-[#FF5252] ':password?.invalid && (password?.dirty || password?.touched), 'border-[#FF5252]':password?.invalid && (password?.dirty || password?.touched)}"

      >
      <p *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-[#FF5252] text-sm  mt-[.5rem] font-normal">password cant be empty</p>

    </div>
    <button [ngClass]="{'opacity-25':isLoggingIn}" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-primary/90 h-10 px-4 py-2 bg-black text-white dark:bg-white dark:text-black">
      Sign in
    </button>
  </form>
</div>