<!--
// v0 by Vercel.
// https://v0.dev/t/DiLPngVdU6Z
-->

<style>h1, h2, h3, h4, h5, h6 { font-family: 'Chivo', sans-serif; --font-sans: 'Chivo'; }
</style>
<style>body { font-family: 'Chivo', sans-serif; --font-sans: 'Chivo'; }
</style>
<div class="flex flex-col items-center justify-center space-y-4 p-8 text-center">
  <div class="space-y-2">
    <h1 class="text-3xl font-bold">Email sent</h1>
    <p class="text-gray-500 dark:text-gray-400">We've sent a verification email to the address you provided.</p>
  </div>
  <div class="w-16 h-16 animate-bounce">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="text-gray-500 dark:text-gray-400"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
      ></path>
    </svg>
  </div>
</div>