<!--
// v0 by Vercel.
// https://v0.dev/t/9jtXBargtGZ
-->

<style>h1, h2, h3, h4, h5, h6 { font-family: 'Rubik', sans-serif; --font-sans: 'Rubik'; }
</style>
<style>body { font-family: 'Rethink Sans', sans-serif; --font-sans: 'Rethink Sans'; }
</style>
<div class="flex flex-col h-screen w-full items-center justify-center gap-2 p-4 text-center text-sm">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="h-12 w-12 text-black animate-spin"
  >
    <line x1="12" x2="12" y1="2" y2="6"></line>
    <line x1="12" x2="12" y1="18" y2="22"></line>
    <line x1="4.93" x2="7.76" y1="4.93" y2="7.76"></line>
    <line x1="16.24" x2="19.07" y1="16.24" y2="19.07"></line>
    <line x1="2" x2="6" y1="12" y2="12"></line>
    <line x1="18" x2="22" y1="12" y2="12"></line>
    <line x1="4.93" x2="7.76" y1="19.07" y2="16.24"></line>
    <line x1="16.24" x2="19.07" y1="7.76" y2="4.93"></line>
  </svg>
  <div class="flex flex-col gap-2 items-center">
    <p>You will be redirected shortly</p>
    <div class="w-12 h-12">
      <div
        aria-valuemax="100"
        aria-valuemin="0"
        role="progressbar"
        data-state="indeterminate"
        data-max="100"
        class="relative h-2 w-full overflow-hidden rounded-full bg-primary/20"
      >
        <div
          data-state="indeterminate"
          data-max="100"
          class="h-full w-full flex-1 bg-primary transition-all"
          style="transform: translateX(-100%);"
        ></div>
      </div>
    </div>
  </div>
</div>