<!--
// v0 by Vercel.
// https://v0.dev/t/ZzpQJUWQ9o0
-->

<style>h1, h2, h3, h4, h5, h6 { font-family: 'Inter', sans-serif; --font-sans: 'Inter'; }
</style>
<style>body { font-family: 'Inter', sans-serif; --font-sans: 'Inter'; }
</style>
<nav class="flex items-center h-14 px-4 gap-4 border-b border-gray-200 dark:border-gray-800 fixed inset-x-0 bg-white z-50">
  <div class="max-w-6xl mx-auto px-4 flex items-center justify-between w-full">
    <a class="inline-flex mr-auto" routerLink="/recipes/create">
  
      <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 ml-auto">
        New Recipe
      </button>
    </a>
  <app-avatar-dropdown></app-avatar-dropdown>

  </div>
 
</nav>