<style>h1, h2, h3, h4, h5, h6 { font-family: 'Rethink Sans', sans-serif; --font-sans: 'Rethink Sans'; }
</style>
<style>body { font-family: 'Rethink Sans', sans-serif; --font-sans: 'Rethink Sans'; }
</style>

<main>
  <app-navbar></app-navbar>
<!--
// v0 by Vercel.
// https://v0.dev/t/SHKcJvgYPEo
-->

@if(!isFetching && allRecipes.length === 0) {
  <div class="flex w-full items-center justify-center min-h-screen">
  <div class="flex flex-col items-center justify-center p-8 border-2 border-dashed border-gray-200/50 rounded-lg border-gray-200 dark:border-gray-800">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-12 w-12 text-gray-300 dark:text-gray-700"
    >
      <path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"></path>
    </svg>
    <div class="flex flex-col items-center gap-1 text-center">
      <h3 class="font-bold text-lg">You have no saved recipes</h3>
      <p class="text-sm text-gray-500 dark:text-gray-400">Start saving recipes to see them here</p>
    </div>
  </div>
  </div>
}
<div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 items-start max-w-6xl px-4 mx-auto py-6 pt-24">
  @if(isFetching) {
    <app-loading-skeleton></app-loading-skeleton>
  
  } @else {
    @for(recipe of allRecipes; track recipe.id) {
      <div class="rounded-lg border bg-card text-card-foreground shadow-sm" data-v0-t="card">
        <div class="flex flex-col h-full">
          <div class="flex flex-col space-y-1.5 p-6 pb-4">
            <h3 class="whitespace-nowrap  font-semibold tracking-tight text-2xl">{{recipe.name}}</h3>
          </div>
          <div class="p-6 border-b pb-4">
            <p class="text-sm text-muted-foreground line-clamp-3">
              {{recipe.description}}
            </p>
          </div>
          <div class="flex items-center p-6 gap-4">
            <a [routerLink]="['/recipes', recipe.id]" class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-9 rounded-md px-3">
              View recipe
            </a>
            <button (click)="deleteRecipe(recipe.id)" class="inline-flex w-auto p-1 justify-center gap-x-1.5 rounded-md bg-white  text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
              @if(isDeleting) {
                <svg xmlns="http://www.w3.org/2000/svg" height="16"  class="fill-white animate-spin mx-auto w-"  viewBox="0 -960 960 960" width="16"><path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q17 0 28.5 11.5T520-840q0 17-11.5 28.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q133 0 226.5-93.5T800-480q0-17 11.5-28.5T840-520q17 0 28.5 11.5T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Z"/></svg>
              }@else {
                <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="h-8 w-8"
              >
                <path d="M3 6h18"></path>
                <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
              </svg>
              }
            </button>
 
          </div>
        </div>
      </div>
    }
  }

</div>
</main>
