<app-navbar></app-navbar>
<div class="flex flex-col min-h-screen py-12 items-center justify-center space-y-4 md:space-y-8">
  <h1 class="text-3xl font-bold text-left md:text-4xl">{{result?.name}} Recipe</h1>
<div class="w-full max-w-[500px] space-y-2 px-4 md:px-10">
    <div class="grid gap-4">
      <div class="border rounded-lg p-4">
        <h2 class="font-semibold text-xl capitalize">{{result?.name}}</h2>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          {{result?.description}}
        </p>
      </div>
      <ol class="list-decimal list-inside space-y-2">
        @for(item of result?.steps; track item.stepNo) {
          <li>{{item.step}}</li>
        }
        <!-- <li>
          Bring a large pot of salted water to a boil. Add the spaghetti and cook according to the package
          instructions until al dente.
        </li>
        <li>While the pasta i</li>
        <li>Add the shrimp to t</li>
        <li>Drain the spagh</li>
        <li></li> -->
      </ol>
  
 
</div>
</div>
