<!--
// v0 by Vercel.
// https://v0.dev/t/ABNq3AmvnP5
-->

<style>h1, h2, h3, h4, h5, h6 { font-family: 'Rubik', sans-serif; --font-sans: 'Rubik'; }
</style>
<style>body { font-family: 'Rubik', sans-serif; --font-sans: 'Rubik'; }
</style>
<app-navbar></app-navbar>
<div class="flex flex-col min-h-screen py-16 items-center justify-center space-y-4 md:space-y-8">
  <div class="w-full max-w-[500px] space-y-2 px-4 md:px-10">
    <h1 class="text-3xl font-bold tracking-tighter md:text-5xl">Recipe Generator</h1>
    <p class="text-gray-500 md:text-xl/relaxed dark:text-gray-400">
      Enter your desired ingredients or type of food to generate a recipe
    </p>
    <form [formGroup]="searchForm" class="flex w-full flex-col gap-2 md:flex-row md:gap-4 lg:gap-6" (ngSubmit)="generateRecipe" >
      <input
        class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 flex-1"
        placeholder="Enter ingredients or type of food"
        type="text"
        #inputRef
      />
      <button
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full md:w-auto"
        type="submit"
        (click)="generateRecipe()"
      >
        @if(isGenerating) {
          <svg xmlns="http://www.w3.org/2000/svg" height="24"  class="fill-white animate-spin mx-auto w-"  viewBox="0 -960 960 960" width="24"><path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q17 0 28.5 11.5T520-840q0 17-11.5 28.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q133 0 226.5-93.5T800-480q0-17 11.5-28.5T840-520q17 0 28.5 11.5T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Z"/></svg>
        }@else {
          Generate
        }
      </button>
    </form>
    @if(!isGenerating && results.recipe.foodDescription) {
      <div class="grid gap-4">
        <div class="border rounded-lg p-4">
          <h2 class="font-semibold text-xl capitalize">{{name}}</h2>
          <p class="text-sm text-gray-500 dark:text-gray-400">
            {{results.recipe.foodDescription}}
          </p>
        </div>
        <ol class="list-decimal list-inside space-y-2">
          @for(item of results.recipe.steps; track item.stepNo) {
            <li>{{item.step}}</li>
          }
          <!-- <li>
            Bring a large pot of salted water to a boil. Add the spaghetti and cook according to the package
            instructions until al dente.
          </li>
          <li>While the pasta i</li>
          <li>Add the shrimp to t</li>
          <li>Drain the spagh</li>
          <li></li> -->
        </ol>
        <div class="flex w-full justify-end">
          <button (click)="saveRecipe()" class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 max-w-20">
            @if(isSaving) {
              <svg xmlns="http://www.w3.org/2000/svg" height="24"  class="fill-white animate-spin mx-auto w-"  viewBox="0 -960 960 960" width="24"><path d="M480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-155.5t86-127Q252-817 325-848.5T480-880q17 0 28.5 11.5T520-840q0 17-11.5 28.5T480-800q-133 0-226.5 93.5T160-480q0 133 93.5 226.5T480-160q133 0 226.5-93.5T800-480q0-17 11.5-28.5T840-520q17 0 28.5 11.5T880-480q0 82-31.5 155t-86 127.5q-54.5 54.5-127 86T480-80Z"/></svg>
            }@else {
              Save
            }
          </button>
        </div>
      </div>
    }
   
  </div>
</div>