
<div class="rounded-lg border bg-card text-card-foreground shadow-sm" data-v0-t="card">

  <div class="bg-white rounded-lg shadow-md p-4 animate-pulse">
    <!-- Header -->
    <div class="w-2/3 h-4 bg-gray-300 rounded mb-2"></div>
    <!-- Body -->
    <div class="w-full h-8 bg-gray-300 rounded mb-2"></div>
    <div class="w-full h-8 bg-gray-300 rounded mb-2"></div>
    <div class="w-1/2 h-8 bg-gray-300 rounded"></div>
  </div>
</div>

<!-- 
<div class="rounded-lg border bg-card text-card-foreground shadow-sm" data-v0-t="card">
  <div class="flex flex-col h-full">
    <div class="flex flex-col space-y-1.5 p-6 pb-4">
      <h3 class="whitespace-nowrap  font-semibold tracking-tight text-2xl"></h3>
    </div>
    <div class="p-6 border-b pb-4">
      <p class="text-sm text-muted-foreground line-clamp-3">
        
      </p>
    </div>
    <div class="flex items-center p-6">
      <button class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-9 rounded-md px-3">
        View recipe
      </button>
    </div>
  </div>
</div> -->